@import "../../scss/variables.scss";

.menu {
	display: flex;
	justify-content: space-between;
	width: 6.4rem;

	&__button {
		width: 2.4rem;
		height: 2.4rem;

		&:hover .menu__icon {
			fill: $interactive-color;
		}
	}

	&__icon {
		transition: 800ms;
	}
}
