@import "../../scss/variables.scss";

.menu_box {
	display: flex;
	justify-content: space-between;
	width: 64px;
}

.menu_button {
	width: 24px;
	height: 24px;
}

.menu_icon {
	transition: 800ms;
}

.menu_button:hover .menu_icon {
	fill: $interactive-color;
}
