@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.main_detailed {
	display: flex;

	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.product_image_box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.6rem;
	width: 30rem;
	height: 30rem;
	border: 0.1rem solid #F2F2F2;

	@media (max-width: 500px) {
		position: relative;
		width: 100%;
		height: 20rem;
		margin: 0 0 1.6rem;
		border: none;

		&:after {
			content: '';
			position: absolute;
			width: 37.5rem;
			height: 20rem;
			z-index: 1000;
			background: linear-gradient(360deg, #00000026 0%, #00000000 50%);
		}
	}
}

.product_info {
	width: 100%;
}

.product_title {
	@include text(2.4rem, 700, 2.8rem);
	margin: 0 0 1.6rem;
}

.product_description {
	margin: 0 0 2.4rem;

	@media (max-width: 500px) {
		margin-bottom: 1.6rem;
	}
}

.details {
	@include text(1.8rem, 700, 2.1rem);
	margin: 0 0 1.6rem;
}

.details_text {
	margin: 0 0 2.3rem;

	@media (max-width: 500px) {
		margin-bottom: 1.6rem;
	}
}

.add_product {
	display: flex;
	align-items: center;

	@media (max-width: 500px) {
		flex-wrap: wrap;
		position: relative;
	}
}

.product_detailed_price {
	margin-right: 1.6rem;
	color: $interactive-color;
	@include text(3.6rem, 400, 4.2rem);

	@media (max-width: 500px) {
		margin-right: 22.2rem;
	}
}

.add_button {
	width: 16rem;
	height: 4rem;
	margin-right: 1.6rem;
	background-color: $interactive-color;
	color: #FFFFFF;
	@include text(2.4rem, 400, 2.8rem);
	border-radius: 1rem;

	@media (max-width: 500px) {
		margin: 1.6rem 0 0;
	}
}

.add_button:hover {
	background: #E99330;
	box-shadow: 0.2rem 0.2rem 0.4rem #00000040;
}
